@charset "utf-8";
.container-fluid {
    background-color: #252525;
}
.container-fluid{background:#252525;
	/* Chrome, Safari */
	-webkit-animation: bgColor 5s;
	/* Firefox */
	-moz-animation: bgColor 5s;
	/* Standard Syntax */
	animation: bgColor 5s;}

.container .navbar.fixed-bottom.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(37,37,37,1.00) 0%,rgba(37,37,37,1.00) 0%,rgba(104,104,104,1.00) 51.30%,rgba(146,144,144,1.00) 71.51%,rgba(195,195,195,1.00) 91.71%);
    background-image: -moz-linear-gradient(270deg,rgba(37,37,37,1.00) 0%,rgba(37,37,37,1.00) 0%,rgba(104,104,104,1.00) 51.30%,rgba(146,144,144,1.00) 71.51%,rgba(195,195,195,1.00) 91.71%);
    background-image: -o-linear-gradient(270deg,rgba(37,37,37,1.00) 0%,rgba(37,37,37,1.00) 0%,rgba(104,104,104,1.00) 51.30%,rgba(146,144,144,1.00) 71.51%,rgba(195,195,195,1.00) 91.71%);
    background-image: linear-gradient(180deg,rgba(37,37,37,1.00) 0%,rgba(37,37,37,1.00) 0%,rgba(104,104,104,1.00) 51.30%,rgba(146,144,144,1.00) 71.51%,rgba(195,195,195,1.00) 91.71%);
    color: #000000;
}
.container .row .col-lg-3 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.row .col-lg-4 .card.col-md-4.col-lg-12 {
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
}
.container-fluid .container .row {
    margin-top: 100px;
}


body p {
    font-family: "Arial Black";
    color: #000000;
    text-decoration: none;
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #000000;
    -webkit-box-shadow: 0 0px;
    box-shadow: 0 0px;
}

nav-link:hover {
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
#accordion1 .card #headingOne1 {
    background-color: #7C7C7C;
}

#accordion1 .card #headingTwo1 {
    background-color: #7C7C7C;
}
#accordion1 .card #headingThree1 {
    background-color: #7C7C7C;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(193,188,188,1.00) 23.32%,rgba(151,149,149,1.00) 43.52%,rgba(148,148,148,1.00) 61.14%,rgba(192,190,190,1.00) 77.72%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(193,188,188,1.00) 23.32%,rgba(151,149,149,1.00) 43.52%,rgba(148,148,148,1.00) 61.14%,rgba(192,190,190,1.00) 77.72%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(193,188,188,1.00) 23.32%,rgba(151,149,149,1.00) 43.52%,rgba(148,148,148,1.00) 61.14%,rgba(192,190,190,1.00) 77.72%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(193,188,188,1.00) 23.32%,rgba(151,149,149,1.00) 43.52%,rgba(148,148,148,1.00) 61.14%,rgba(192,190,190,1.00) 77.72%);
}
#accordion1 .card #headingFour1 {
    background-color: #7C7C7C;
}
#accordion1 .card #headingFive1 {
    background-color: #7C7C7C;
}
#navbarSupportedContent1 .navbar-nav.mr-auto .nav-item {
    color: #252525;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.container-fluid .container #carouselExampleIndicators1 {
    margin-top: 100px;
}
.row {/*animate background */
	background:#252525;
	/* Chrome, Safari */
	-webkit-animation: bgColor 5s;
	/* Firefox */
	-moz-animation: bgColor 5s;
	/* Standard Syntax */
	animation: bgColor 5s;
}
.col-xl-4 .card.col-md-4.col-xl-12 {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(192,192,192,1.00) 23.83%,rgba(147,147,147,1.00) 41.45%,rgba(151,151,151,1.00) 61.14%,rgba(193,193,193,1.00) 77.72%);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	
	
}


a {
    color: #252525;
    text-decoration: none;
    background-color: transparent;
}


a:hover {
    color: #F1F1F1;
}

/* 
Define this in your CSS 
.bgColor = Replace it by the name you want to give your animation
.bgAnimObj = Assign this class to the object you want to apply the effect
*/

.bgAnimObj {
	background:#252525;
	/* Chrome, Safari */
	-webkit-animation: bgColor 15s;
	/* Firefox */
	-moz-animation: bgColor 15s;
	/* Standard Syntax */
	animation: bgColor 15s;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes bgColor {
	from {
 		background: #FFFFFF;
	} 
	to {
 		background: #252525;
	}
}

/* Firefox */
@-moz-keyframes bgColor {
    from {
        background: #FFFFFF;
    }
    to {
        background: #252525;
    }
}

/* Standard syntax */
@keyframes bgColor {
	from {
		background: #FFFFFF;
	}
	to {
		background: #252525;
	}
}

